# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
build/
dist/

# Data (we never commit data)
data/
*.parquet
*.csv

# Secrets
.env
*.key

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# MLflow
mlruns/